/*
    there are two main options in this file and the CSS 
    depends on what sized device the user is viewing the 
    website on.
*/
/*
    shared CSS
*/
* {
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: lighter;
    border-style: none;
    border-color: rgb(166, 166, 166);
}

header {
    width: 100%;
    background-color: rgb(16, 16, 170);
}

#header-title {
    color: white;
}

#topbar {
    width: 100%;
    background-color: grey;
    border-color: rgb(166, 166, 166);
    display: flex;
}

#home-button {
    background-color: transparent;
    border-style: outset;
    border-color: rgb(166, 166, 166);
}

#likes {
    float: right;
    border-style: outset;
    height: 100%;
    background-color: transparent;
    padding-bottom: 0.5vh;
    font-size: 2.5vmin;
}

.website {
    background-color: rgb(255, 255, 255);
    display: flex;
}

#website_icon {
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.date {
    border-style: outset;
    text-align: center;
    border-width: thin;
}

#today {
    text-align: center;
}

.sidebar {
    background-color: grey;
    overflow-y: scroll;
}

#filter-title {
    font-weight: bold;
    text-align: center;
    color: rgb(16, 16, 170);
}

.sidebar hr {
    border-color: rgb(77, 77, 77);
    width: 100%;
    border-style: inset !important;
    margin: 5% 0% 5% 0%;
}

.lighter {
    border-color: rgb(185, 185, 185) !important;
}

#search-button {
    background-color: rgb(16, 16, 170) !important;
    color: white;
}

.cardBorder {
    border-style: outset;
    border-color: rgba(46, 46, 46, 0.452);
    position: relative;
}

.birdCard {
    background-color: grey;
    border-color: rgba(27, 27, 27, 0.527);
    margin: 0% !important;
    padding: 0 !important;
    position: absolute;
    border-style: inset;
}

.credits {
    position: absolute;
}

.birdPhoto {
    object-fit: cover;
    top: 7%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-style: inset;
    border-width: thick;
}

.likeButton {
    position: absolute;
    right: 8%;
    padding-right: 8% !important;
    background-color: transparent;
    border-style: none;
}

.heartTxt {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: x-large !important;
    left: 0;
}

.topInfo {
    position: absolute;
}

.topInfo h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.bottomInfo {
    position: absolute !important;
    margin: 0 0 0 0 !important;
}

.cardHR {
    border-style: inset;
}

.bottomInfo h2 {
    text-align: center;
    font-size: large;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    width: 100%;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 0 !important;
    padding: 0;
}

.nameBackground {
    border-top-style: solid;
    position: absolute;
    height: 20%;
}

.gridInfo {
    display: grid;
}

.gridInfo p {
    text-align: left;
}

.gridInfo .bold {
    font-weight: bold;
    text-align: right !important;
}

.dropdown {
    background-color: rgb(165, 165, 165) !important;
    color: rgb(0, 0, 0);
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    border: outset;
    cursor: pointer;
}

.dot {
    border-radius: 50vw;
    display: inline-block;
    margin-right: 0.5vw;
}

#dot1 {
    background-color: #02a028;
}

#dot2 {
    background-color: #649a31;
}

#dot3 {
    background-color: #99cb68;
}

#dot4 {
    background-color: #fecc33;
}

#dot5 {
    background-color: #fe9a01;
}

#dot6 {
    background-color: #c26967;
}

#dot7 {
    background-color: #9b0000;
}

#dot8 {
    background-color: #660032;
}

#dot9 {
    background-color: #320033;
}

#dot10,
#dot11 {
    background-color: black;
}

#search-button {
    border-style: outset;
    border-color: rgba(2, 2, 29, 0.492);
    border-width: medium;
}

footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
    border-style: outset;
    text-align: center;
}

.main {
    background-color: rgb(165, 165, 165);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    position: fixed;
}

/* 
CSS for the website on a device with a larger width than 600px(i.e. laptop/
pc/ tablet). 
*/
@media only screen and (min-device-width: 600px) {

    header {
        height: 6vh;
    }

    header img {
        margin: 1vh 1vw 1vh 1vw;
        width: auto;
        height: 65%;
        float: left;
    }

    #header-title {
        height: 6vh;
        line-height: 6.5vh;
        font-size: 3.5vh;
    }

    #topbar {
        height: 5vh;
        font-size: 1vmin;
        border-style: outset;
    }

    #home {
        width: 15%;
        max-width: 150px;
    }

    #home-button {
        font-size: 2.5vmin;
        float: left;
        width: 65%;
        height: 100%;
    }

    #likes {
        width: 35%;
        padding-bottom: 0.5vh;
    }

    .website {
        width: 82%;
    }

    .website h1 {
        width: 97%;
        height: 5vh;
        line-height: 4.9vh;
        font-size: 2.5vh;
        padding-left: 1vw;
    }

    #website_icon {
        height: 60%;
        padding-top: 0.8vh;
    }

    .date {
        width: 12%;
    }

    #today {
        font-size: 2.5vmin;
        height: 5vh;
        padding-top: 1.1vmin;
    }

    .sidebar {
        width: 14%;
        float: left;
        top: 11.5%;
        height: 83vh;
        position: fixed;
        padding: 0.5% 0.5% 0.5% 0.5%;
        border-style: outset;
        overflow-x: none;
        min-width: 200px;
    }

    #filter-title {
        margin: 0.5vh 0vw 0.5vh 4%;
        width: 90%;
        font-size: larger;
    }

    .sidebarTitle {
        font-size: medium;
        font-weight: bold;
        padding: 2% 0% 2% 0% !important;
    }

    #searchbar {
        width: 85%;
        margin-left: 5%;
        height: 5%;
    }

    .dropdown {
        border: none;
        width: 90%;
        margin: 1vh 5% 0vmin 5%;
        font-size: small;
    }

    #search-button {
        left: 5%;
        position: relative;
        width: 90%;
        height: 4vh;
        font-size: medium;
        font-weight: bolder;
    }

    #searchNumber {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: x-small;
    }

    .lowerArea {
        height: 45%;
        margin-top: 5%;
    }

    .lowerArea p {
        font-size: small;
    }

    .dot {
        height: 1.5vmin;
        width: 1.5vmin;
        min-width: 12px;
        min-height: 12px;
    }

    #status-link {
        font-size: xx-small;
        height: 8vh;
        padding: 0.5vh 0vw 0.5vh 0vw;
    }

    .main {
        width: 84.5%;
        float: right;
        height: 84.0%;
        top: 11.5%;
        left: 15.3%;
        overflow-x: none;
        border-style: inset !important;
    }

    footer {
        background-color: grey;
        width: 99.7%;
        height: 2.5vh;
        padding-top: 1vh;
        font-size: 1.7vmin;
        color: rgb(0, 0, 0);
    }

    .cardBorder {
        height: 22vw !important;
        max-height: calc(50vh);
        width: 10vw !important;
        margin-top: 1vw;
        padding: 0.5% !important;
        min-width: 300px;
        min-height: 450px;
    }

    .birdCard {
        top: 1% !important;
        left: 1% !important;
        height: 97% !important;
        width: 96.5% !important;
    }

    .credits {
        font-size: xx-small;
        right: 1%;
        bottom: 1.5%;
    }

    .birdPhoto {
        height: 45%;
        width: 90%;
    }

    .likeButton {
        top: 8%;
        height: 8%;
        width: 0%;
    }

    .heartTxt {
        top: 4%;
    }

    .topInfo {
        top: 1.5% !important;
        left: 2%;
        width: 90% !important;
        height: 5vmin;
    }

    .topInfo h2 {
        font-size: large;
    }

    .bottomInfo {
        width: 99% !important;
        bottom: 0vh !important;
        height: 45% !important;
        font-size: 1.8vmin;
        padding: 0.5%;
    }

    .cardHR {
        margin: 2%;
    }

    .nameBackground {
        width: 90.3%;
        left: 4.9%;
        bottom: 102% !important;
    }

    .gridInfo {
        grid-template-columns: 30% 70%;
        width: 98% !important;
        height: 80% !important;
        grid-template-rows: 22% 17% 17% 17% 14% 14%;
        margin-left: 0.2vw;
        font-size: small;
    }

    #ordButton,
    #famButton {
        background-color: transparent;
        border-style: none;
        text-align: left;
        height: 100%;
        vertical-align: top;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 10%;
        font-size: small;
    }

    .right {
        margin-left: 0.5vw;
    }

    /*
    For when sidebar has reached minimum size.
    stops .main from starting left at 14% and changes 
    it to be based off of pixels instead.
    */
    @media only screen and (max-width: 1415px) {

        main {
            max-width: 1210px;
            position: relative;
            display: table;
            width: 100%;
        }

        .sidebar {
            width: 201px;
        }

        .main {
            float: right;
            padding-left: calc(30px * 2vw);
            padding-right: (30px * 2vw);
            width: calc(100% - (210px + 1%));
            left: calc(207px + 1%);
            justify-content: space-evenly;
        }

        .cardBorder {
            min-width: 300px;
            min-height: 450px;
            margin: 1vw 1vw 1vw 2vw;
        }
    }

    /*
        For when bird card needs to stop moving left 
        (to the center) and stay in the same position 
        while the window gets smaller.
    */
    @media only screen and (max-width: 555px) {
        main {
            max-width: 355px;
        }

        .main {
            justify-content: left;
        }
    }

}

/*
CSS for the website if veiwing from a device whose width is less than 
600px (i.e. a mobile phone).
*/
@media only screen and (max-device-width: 600px) {

    html,
    body,
    footer,
    main {
        overflow-y: hidden;
    }

    main {
        margin: 0;
        width: 100vw;
        height: 87vh;
    }

    .main {
        overflow-x: hidden;
        height: 87vh;
    }

    footer {
        height: 5vh;
        width: 100%;
        font-size: small;
        color: white;
        background-color: blue;
    }

    footer * {
        color: white;
        margin: 0 !important;
        padding: 0.5vh 1vw 0.5vh 1vw !important;
        height: 2vh;
        width: 100vw;
        line-height: 2vh;
    }

    .sidebarButton {
        background-color: transparent !important;
        color: black;
        height: 3vh;
        width: 7vw;
        padding-bottom: 0.5vh !important;
        padding-top: 0 !important;
        margin: 0 !important;
        font-size: 3.0vw;
        border-style: outset;
        border-color: grey;
    }

    #topbar {
        height: 3vh !important;
    }

    header {
        display: flex;
        height: 5vh;
    }

    #header-title {
        height: 5vh;
        line-height: 2.5vh;
        font-size: 2.5vh;
        margin-top: 1.5vh;
    }

    header img {
        height: 2.5vh;
        padding: 1.3vh 1vh 1vh 1vh;
    }

    #home {
        height: 3vh;
        width: 15vw;
        display: flex;
    }

    #home-button {
        height: 3vh;
        line-height: 2.7vh;
        width: 10vw;
        font-size: 3.0vw;
        padding-left: 0.8vw;
    }

    #likes {
        width: 5vw;
        padding: 0;
    }

    .website {
        width: 60vw;
    }

    .website h1 {
        height: 2vh;
        width: 75vw;
        margin-top: 1vh;
        padding-left: 1vw;
        font-size: 1.5vh;
    }

    #website_icon {
        height: 2vh;
    }

    .date {
        width: 17vw;
        height: 2.5vh;
        position: absolute;
        right: 0;
    }

    #today {
        width: 17vw;
        bottom: 0.5vh;
        position: absolute;
        font-size: 2.5vw;
    }

    .sidebar {
        padding: 5%;
        left: 0;
        width: 0%;
        height: 100%;
        display: none;
        overflow-x: hidden;
    }

    .cardBorder {
        height: 72vh;
        width: 90vw;
        margin: 4vw 4vw 4vw 4vw;
        padding: 0 !important;
    }

    .birdCard {
        top: 1vw;
        left: 1vw;
        height: 70.5vh;
        width: 87vw;
    }


    .credits {
        font-size: smaller;
        right: 1vw;
        bottom: 0%;
        padding-bottom: 1%;
        height: auto;
    }

    .birdPhoto {
        height: 40%;
        width: 85%;
    }

    .likeButton {
        top: 12%;
        height: 10vw;
        width: 10vw;
    }

    .heartTxt {
        top: -55%;
    }

    .topInfo {
        top: 3.5% !important;
        left: 4%;
        width: 98% !important;
        height: 5vh;
    }

    .topInfo h2 {
        font-size: 6vw;
        line-height: 1vw;
    }

    .bottomInfo {
        width: 95% !important;
        top: 50% !important;
        height: 47% !important;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .cardHR {
        margin: 1vh 0vw 1vh 0vw;
    }

    .nameBackground {
        width: 85.5%;
        left: 7.3% !important;
        bottom: 104% !important;
    }

    .gridInfo {
        grid-template-columns: 35% 65%;
        width: 95% !important;
        height: 26vh !important;
        bottom: 0;
        grid-template-rows: 6vh 3.5vh 3.5vh 6vh 3.5vh 3vh;
        margin: 0vh 0vw 0vh 0vw !important;
        padding: 0 !important;
    }

    .gridInfo p {
        margin: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-left: 3vw !important;
        font-size: 4.7vw;
        height: 3.9vh;
        width: 52vw;
        line-height: 3vh;
    }

    .gridInfo .bold {
        height: 6.0vh;
        max-width: 27vw !important;
        font-size: 2vh !important;
        padding: 0 !important;
    }

    #filter-title {
        margin: 1vw 0% 1vw 0%;
        width: 100%;
        font-size: 8vw;
    }

    .searchArea {
        margin: 0.5vh 0vw 0.5vh 0vw;
    }

    .sidebarTitle {
        font-size: 5vw;
        padding: 0;
        margin: 1vw 0vw 1vw 0vw;
    }

    #searchbar {
        width: 99%;
        height: 3vh;
    }

    .dropdown {
        font-size: medium;
        height: 4vh;
        width: 100%;
        margin: 0vmin 1vmin 0vmin 1vmin;
    }

    .dot {
        height: 4vw;
        width: 4vw;
    }

    #status-link {
        font-size: 4vw;
        padding: 0.5vh 0vw 4vh 0vw;
    }

    #search-button {
        width: 100%;
        height: 5vh;
        font-size: 4.5vw;
        vertical-align: middle;
    }

    .lowerArea h4 {
        font-size: 7vw;
        font-weight: bold;
        width: 100%;
        margin-top: 0;
        margin-bottom: 1vh;
    }

    .lowerArea p {
        font-size: 5vw;
    }
}