@media only screen and (min-device-width: 600px){
* {
    margin: 0vh 0vw 0vh 0vw;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: lighter;

}

h3 {
    font-size: 2.5vmin;
}

header {
    background-color: rgb(16, 16, 170);
    width: 100%;

    height: 6vh;
    



}

header img {
    margin: 1vh 1vw 1vh 1vw;
    width: auto;
    height: 65%;
    float: left;
}

#header-title {
    vertical-align: middle;
    /* float: right; */
    /* text-align: left; */
    /* padding: 2vh 1vw 2vh 1vw; */
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: lighter;
    
    /* width: 98vw; */
    
    height: 6vh;
    line-height: 6.5vh;
    font-size: 1.5vw;
}
.searchArea{
   
}

.searchArea p {
    font-size: 1.0vw;
    margin: 0.5vh 0vw 0.5vh 0vw;
    font-weight:normal;
    width: 90%;
    
}



#filter-title {
    margin: 0.5vh 0vw 0.5vh 0vw;
    width: 90%;
    text-align: center;
    color: rgb(16, 16, 170);
    font-weight: bold !important;
    font-size: 1.5vw;

}

#search-title {
    margin: 0.5vh 0vw 0.5vh 0vw;
    width: 90%;
    
}

#searchbar {
    width: 85%;

    margin-left: 5%;
    height: 1.5vh;
}

.sidebar {
    background-color: grey;
    width: 14%;
    float: left;
    top: 11.5%;
    /* height: 81.8%; */
    height: 83vh;
    position: fixed;
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-style: outset;
    
}



footer {
    background-color: grey;
    width: 99.7%;
    height: 3.5vh;
    bottom: 0;
    position: fixed;
    border-style: outset;
    
}

footer p {
    /* padding-top: 1vmin;
    padding-bottom: 1vmin; */
    text-align: center;
    font-size: 1.3vmin;
    color: rgb(0, 0, 0);
    height: 3.5vh;
    line-height: 3.5vh;
}

.conservation-status-dropdown {
    display: inline-block;
    position: relative;
    
    border-style: outset;
    
    border-width: medium;
    width: 85%;
    margin-left: 5%;
    height: 1.5vh;
    font-size: 1.5vw;
    vertical-align: middle;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;


}

.CS-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

.dropdown-content p:hover {
    background-color: rgb(206, 206, 206);

}

.dropdown:hover .dropdown-content {
    display: block;

}

.dropdown {
    
    background-color: rgb(165, 165, 165) !important;
    color: rgb(0, 0, 0);

    font-size: 1.5vw;
    border: outset !important;
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    width: 85%;
    cursor: pointer;
    margin: 0vmin 1vmin 0vmin 1vmin;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    width: 85%;
    margin: 0vmin 1vmin 0vmin 1vmin;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    z-index: 1;
}

/* .dropdown:hover .dropdown-content, .dropdown:focus{
    display: block;
    background-color: #ffffff;
    
} */

.dropdown-content p:hover {
    background-color: rgb(230, 230, 230);

}

#SB-button,
#CS-button {
    background-color: grey;
    color: rgb(0, 0, 0);

    font-size: 1.5vmin;
    border: none;
    padding: 0.5vmin 1vmin 0.5vmin 1vmin;
    width: 87%;
    cursor: pointer;
    margin: 0vmin 5% 0vmin 5%;
    font-size: 0.7vw;
}




.dot {
    height: 1.5vmin;
    width: 1.5vmin;
    border-radius: 50vw;
    display: inline-block;
   
    margin-right: 0.5vw;

}

#dot1 {
    background-color: #02a028;
}

#dot2 {
    background-color: #649a31;
}

#dot3 {
    background-color: #99cb68;
}

#dot4 {
    background-color: #fecc33;
}

#dot5 {
    background-color: #fe9a01;
}

#dot6 {
    background-color: #c26967;
}

#dot7 {
    background-color: #9b0000;
}

#dot8 {
    background-color: #660032;
}

#dot9 {
    background-color: #320033;
}

#dot10 {
    background-color: black;
}

#dot11 {
    background-color: black;
}

#status-link {
    font-size: 0.58vw;
    padding: 0.5vh 0vw 0.5vh 0vw;
}

#search-button {
    left: 23%;
    background-color: rgb(165, 165, 165) !important;
    position: relative;
    width: 50%;
    border-style: outset;
    border-color: grey;
    border-width: medium;

    font-size: 1.0vw;
    vertical-align: middle;

}

.search-number {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 1.3vmin !important;
}
.lowerArea{
    height: 45%;
    
    margin-top: 5%;
}

.lowerArea h4 {
    font-size: 1.2vw;
    max-width: 25vw;
    margin-bottom: 1vh;
}

.lowerArea p {
    font-size: 0.9vw;
}


.main {
    background-color: rgb(165, 165, 165);
    width: 84.5%;
    float: right;
    height: 84.0%;
    position: fixed;
    top: 11.5%;
    left: 15.3%;
    overflow-y: scroll;
    overflow-x: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start;  */
    justify-content: space-evenly;
    border-style: inset !important;
}
.cardBorder{
    border-style: outset;
    height: 27vw !important;
    width: 18vw !important;
     margin: 1.8% 0% 0% 0% !important; 
    padding:0.5%  !important;
    /* background-color: rgb(16, 16, 170) !important; */
    border-color: rgba(46, 46, 46, 0.452);
    min-width: 300px;
    min-height: 450px;
    position: relative;
    
}

.birdCard {
    background-color: grey;
    top: 1% !important;
    left: 1% !important;
    height: 97% !important;
    width: 96.5% !important;
    margin: 0% !important;
    padding: 0 !important;
    position: absolute;
    border-style: inset;
    border-color: rgba(27, 27, 27, 0.527);
    
    /* padding: 1vmin 1vmin 1vmin 1vmin; */
    
    

}

#bird {
    background-color: white;
    height: 50%;
    width: 36%;
    /* margin: 5%; */
    position: absolute;
}
.credits{
    font-size: xx-small;
    right: 3%;
    bottom: 1.5%;
    position: absolute;
}

/*
bird cards
*/
.main div {
    /* position: relative; */
    
}

/*
image are all the same size
ratio is,
*/
.birdPhoto {

    object-fit: cover;
    top: 7%;
    height: 50%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-style: inset;
    border-width:thick;


}

.topInfo {
    background-color: rgba(128, 128, 128, 0) !important;
    position: absolute;
    top: 1.5% !important;
    left: 2%;
    width: 90% !important;
    height: 5vmin;
    font-size: 0.9vw;
    

}

/* .topInfo p {
    color: rgb(0, 0, 0);
    font-size: smaller;

} */

.topInfo h2 {
    color: rgb(0, 0, 0);
    font-weight: bold ;
}

.bottomInfo {
    position: absolute !important;
    width: 99% !important;
    
    margin: 0 0 0 0 !important;
    bottom: 0vh !important;
    height: 40% !important;
    font-size: 1.8vmin;
    padding: 0.5%;
    /* font-weight: 30%; */

}
.cardHR{
    margin: 2%;
    border-color: rgb(161, 161, 161) !important;
}

.bottomInfo h2 {
    padding: 0.5vh 0vw 0vh 0.0vw;
    text-align: center;
    font-size: 93%;
    width: 100%;
    font-weight: bold;

}

.gridInfo {
    
    display: grid;
    grid-template-columns: 30% 70%;
    width: 94% !important;
    height: 75% !important;
    grid-template-rows: 25% 20% 17% 15% 15% 15%;
    margin-left: 0.5vw;

}

.gridInfo p {
    font-size: 85%;
    text-align: left;
    /* padding: 0vmin 0.5vmin 0vmin 0.5vmin; */

}
#right{
    margin-left: 0.5vw !important;
    
}

.gridInfo #bold {
    font-weight: bold;
    font-size:80%;
   
    text-align: right !important;
    
}

.circle {
    height: 3.5vmin;
    width: 3.5vmin;
    /* border-radius: 5%; */
    border-width: 5%;
    border-style: solid;
    border-color: white;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    position: absolute;
    background-color: #02a028;
    bottom: 35.5%;
    right: 4.1%;
    border-radius: 2vmin;


}

/* .circleBorder {
    height: 4vmin;
    width: 4vmin;
    border-radius: 50vw;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    position:  absolute;
    background-color: rgb(255, 255, 255) !important;
    bottom: 35.8%; 
    right: 3.3%;
    border-radius: 2vmin;
    
    
} */

.topbar {
    height: 5vh;
    font-size: 1vmin;
    display: flex;
    background-color: grey;
    border-style: outset;
}

.arrows {
    /* padding-left: 1vw;
    padding-right: 1vw; */

    border-right-style: outset;
    font-size: 2vmin;
    font-weight: bold;
    width: 6%;
    display: flex;

}

.arrows h1{
    
    height: 5vh;
    line-height: 4.7vh;
    /* padding: 1vh 1vw 1vh 1vw; */
    padding-left: 15%;
    padding-right: 15%;

}



.website {
    background-color: rgb(247, 247, 247);
    width: 87%;
    display: flex;
    

}
.website h1{
    width: 97%;
    height: 5vh;
    line-height: 4.9vh;
    
    padding-left: 1vw;
}

.page_icon {
    background-color: white;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    height: 60%;
    padding-top: 0.8vh;

}
.date{
    width:7%;

    border-left-style: outset;
}
#today {
    font-size: 2vmin;
    height: 5vh;
    line-height: 4.9vh;
    padding-left: 10%; 
}
.sidebar hr{

    margin: 5% 0% 5% 0%;
    border-color: rgb(77, 77, 77);
    border-style: inset !important;
    /* border-style: groove; */
}
#lighter, #lighter2{
    border-color: rgb(185, 185, 185) !important;
}

}