* {
    margin: 0vh 0vw 0vh 0vw;

    font-family: "Times New Roman", Times, serif;
}

h3{
    font-size: 2.5vmin;
}
header {
    background-color: rgb(141, 141, 199);
    width: 100vw;
    
    height: 7.5vh;
    font-size: 2vh;
    
    
    
}

#header-title{
    vertical-align: middle;
    text-align: center;
    padding: 1vh 1vw 1vh 1vw;
    width: 100vw;
    height: 5vh;
}

.searchArea p{
    font-size: 2vmin;
}

body {
    background-color: rgb(238, 220, 214);
}

#filter-title{
    margin: 1vw 1vw 1vw 1vw;
    padding: 0vh 0vw 0vh 0vw;
   
}
#search-title{
    border-top-style: solid;
    border-bottom: black;
    border-width: 0.15vh;
}
#searchbar{
    width: 20vw;
    
    margin-left: 2vw;
    height: 1.5vh;
}
.sidebar {
    background-color: rgb(162, 216, 162);
    width: 25vw;
    float: left;
    top: 7.5vh;
    height: 89.0vh;
    position: fixed;
}

.main {
    background-color: rgb(218, 169, 169);
    width: 75vw;
    float: right;
    height: 89.0vh;
    position: fixed;
    top: 7.5vh;
    left: 25vw;
}

footer {
    background-color: rgb(105, 105, 133);
    width: 100vw;
    height: 2vh;
    bottom: 0;
    position: fixed;
}

.conservation-status-dropdown {
    display: inline-block;
    position: relative;
    background-color: rgb(218, 141, 141);
    border-style: outset;
    border-color: rgb(218, 141, 141);
    border-width: medium;
    width: 20vw;
    margin-left: 2vw;
    height: 1.5vh;
    font-size: 1.5vmin;
    vertical-align: middle;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    

}

.CS-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

}

.conservation-status-dropdown:hover .CS-dropdown-content {
    display: block;

}

.sort-by-dropdown {
    display: inline-block;
    position: relative;
    background-color: rgb(218, 141, 141);
    border-style: outset;
    border-color: rgb(218, 141, 141);
    border-width: medium;
    width: 20vw;
    margin-left: 2vw;
    height: 1.5vh;
    font-size: 1.5vmin;
    vertical-align: middle;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.SB-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.sort-by-dropdown:hover .SB-dropdown-content {
    display: block;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50vw;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
    
}

#dot1 {
    background-color: #02a028;
}

#dot2 {
    background-color: #649a31;
}

#dot3 {
    background-color: #99cb68;
}

#dot4 {
    background-color: #fecc33;
}

#dot5 {
    background-color: #fe9a01;
}

#dot6 {
    background-color: #c26967;
}

#dot7 {
    background-color: #9b0000;
}

#dot8 {
    background-color: #660032;
}

#dot9 {
    background-color: #320033;
}

#dot10 {
    background-color: black;
}

#dot11 {
    background-color: black;
}

#status-link {
    font-size: 1vmin;
    padding: 2vh 2vw 2vh 0vw;
}

.search-button {
    left: 2vw;
    background-color: rgb(126, 148, 173);
    position: relative;
    width: 21.5vw;
    border-style: outset;
    border-color: rgb(126, 148, 173);
    border-width: medium;
    
    font-size: 1.5vmin;
    vertical-align: middle;

}
.search-number{
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vmin;
}
.lowerArea h4{
    font-size: 2.5vmin;
    max-width: 25vw;
    margin-bottom: 1vh;
}
.lowerArea p{
    font-size: 2vmin;
}

.main{
    overflow-y: scroll;
}